/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Intro style start */

.body {
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
}

.img {
    min-width: 100%;
    height: auto;
    width: 100%;
}

.wrapper{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper-full {
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
}

.section-title::after {
    display: block;
    content: '';
    width:  253px;
    height:  3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0; 
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    padding: 0 0 20px 0;
    z-index: 999;
}

.header_active {
    background: #0E1D28;
}

.header_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 56px;
}

.header_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.header_item {
    margin-right: 82px;
    list-style-type: none;
}
.header_item:last-child {
    margin-right: 0px;
}
.header_link {
    font-size: 18px;
    line-height: 24px;
    color: aliceblue;
    text-decoration: none;

}
.header_link:hover, .header_link:focus, .header_link:active {
    opacity: .75;
}

.header_burger {
    width: 40px;
    height: 28px;
    position: relative;
}

.burger_line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 8, 8);
    position: absolute;
    left: 0;
}

.burger_line_first {
    top: 0;
}

.burger_line_second {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.burger_line_third {
    bottom: 0;
}
/* Header styles end */


/* Intro style start */

.intro {
    min-height: 100vh;
    background: url(icon/урок1-2/background/intro-bg-min.jpg ) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
}

.intro_title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color:white;
    margin-bottom: 22px;
}


.intro_subtitle {
    max-width: 546px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    padding-top: 59px;
    margin-bottom: 59px;
}

.search-form_wrap {
    border: 0;
}

.search-form_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.search-from_field {
    width: 297px;
    background: transparent url(icon/oval/Oval.svg) no-repeat left 7px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid white;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.search-from_field::-webkit-input-placeholder {
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.search-from_field::-moz-placeholder {
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.search-from_field:-ms-input-placeholder {
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.search-from_field::-ms-input-placeholder {
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.search-from_field::placeholder {
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.search-form_submit {
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color: white;
    background: #187dff;
    border: 0;
}

.search-form_submit:hover,  .search-form_submit:focus, .search-form_submit:active {
    background: #000;
}
    /* Intro style end */


    /* Benefits styles */

.benefits {
    margin-bottom: 131px;
}

.benefits_wrap  {
    max-width: 1262px;
    background-color: #fff;
    margin: 0 auto;
    -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
            box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits_title {
    width: 84%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    background-color: #fff;
}

.benefits_cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 55px 1fr 55px 1fr;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 55px;
    padding: 0 100px 0 100px;
    
} 

.benefits_card {
    -ms-grid-column-span: 1;
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits_card-pic {
    max-width: 66px;
    margin-bottom: 37px;
}

.benefits_card-thumb {
    display: block;
}

.benefits_card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 37px;
}

.benefits_card-desc {
    margin-bottom: 39px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.benefits_card-more {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    margin-bottom: 39px;
    text-decoration: none;
}
    /* Benefits styles end */

    /* Places styles start */
.places {
    margin-bottom: 131px;
}

.places_caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 26px 0;
}

.places_title {
    margin-right: 15px  ;
}

.places_wiew-all {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.places_cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.places_card {
    position: relative;
    overflow: hidden;
}



.places_card-pic-lg:hover { 
    -webkit-transform: scale(1.05); 
        -ms-transform: scale(1.05); 
            transform: scale(1.05);
}

.places_card-pic-sm:hover { 
    -webkit-transform: scale(1.05); 
        -ms-transform: scale(1.05); 
            transform: scale(1.05);
}

.places_card-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}

.places_card_size_lg {
    -ms-grid-column-span: 3;
    grid-column: span 3;
}

.places_card_size_sm {
    -ms-grid-column-span: 2;
    grid-column: span 2;
}


.places_card-pic-lg {
    width: 100%;
    -webkit-transition: .15s all;
    -o-transition: .15s all;
    transition: .15s all;
}

.places_card-pic-sm {
    width: 100%;
    -webkit-transition: .15s all;
    -o-transition: .15s all;
    transition: .15s all;
}
     /* Places styles end */ 

    


    /* Tours styles start */ 
.tours {
    margin-bottom: 139px;
}  

.tours_tour {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 108px 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 108px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 77px;
}



.tour_title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}

.tour_info {
    padding-left: 47px;
}

.tour_desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
}

.tour_more {
    text-decoration: none;
}

.tours_pic:hover { 
    -webkit-transform: scale(1.05); 
        -ms-transform: scale(1.05); 
            transform: scale(1.05);
    -webkit-transition: .15s all;
    -o-transition: .15s all;
    transition: .15s all;
}



    /* Tours styles end */ 




    /* Top styles start */ 
.top {
    margin: 0 0 86px 0;
}

.top_title {
    margin: 0 0 14px 0;
}

.top_cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 57px 1fr 57px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 57px;
    row-gap: 57px;
}

.top_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}


.top_card-pic {
    position: relative;
    margin-bottom: 45px;
}

.top_card-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    padding: 16px 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.top_card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 auto 0 0;
}

.top_cards-likes {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 0 20px 0 0;
    background: url(icon/heart.svg) no-repeat right;
    margin: 0 14px 0 0;
}

.top_cards-comments {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 0 20px 0 0;
    background: url(icon/comment.svg) no-repeat right;
}

.top_card-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;
}

.top_card-more {
    width: 118px;
    padding: 12px 19px;
    background: #006DFE;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    margin: auto 0 0 0;
}

.top_card-more:hover, .top_card-more:focus, .top_card-more:active {
    background: #000;
}
    /* Top styles end */ 

    /* Videos styles start */ 
.videos {
    width: 100%;
}

.videos_wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.video_item {
    padding-top: 56.25%;
}

.video_element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 20px 20px rgba(21, 24, 36, 0.76);
            box-shadow: 0px 20px 20px rgba(21, 24, 36, 0.76);
}
    /* Videos styles end */ 


    /* Footer styles start */ 
.footer {
    background: #0E1D28;
    padding: 199px 0;
}


.footer_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.footer_logo {
    width: 50%;
}

.footer_nav {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer_menu-title {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer_menu-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer_menu-link:hover, .footer_menu-link:focus {
    opacity: 0.75;
}
    /* Footer styles end */ 


    /* Media start*/ 
@media screen and (min-width: 1000px) {
    .header_burger {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    .search-form_field {
        margin-bottom: 25px;
        margin-right: 0;
    }  
    .search-form_submit {
        margin-bottom: 25px;
        padding-right: 25px;
    }
    .top_cards {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        width: 768px;
    }
    .top_card-stats {
        width: 386px;
    }
    .tours_tour {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 4px;

    }
    .tour_info {
        padding-left: 0;
        margin-bottom: 50px;
    }
    .tour_title {
        margin-bottom: 10px;
    }
    .tour_desc {
        margin-bottom: 10px;
    }
    .tour_thumb {
        max-width: 350px;
    }
    .header_item {
        margin-right: 0;
    }   
    .places_title {
        margin-right: 0 ;
    }
    .places_card_size_lg {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }
    .places_card_size_sm {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }
    .top_cards {
        width: 100%;
    }
    .benefits_title {
        padding: 0px;
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    .header_burger {
        display: block;
    }
    .header_wrapper {
        padding-top: 28px;;
    }
    .header_nav {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        z-index: 10;
        padding: 75px;
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
        -webkit-transition: .2s all linear;
        -o-transition: .2s all linear;
        transition: .2s all linear;
    }

    .header_nav_active {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }

    .header_item {
        width: 100%;
        margin-right: 1px;
        margin-bottom: 30px;
    }
    .header_item:last-child {
        margin-bottom: 0px;
    }
    .header_link {
        font-size: 42px;
        line-height: 48px;
    }
    .header__nav-close {
        width: 0px;
        height: 0px;
        position: absolute;
        top: 20x;
        right: 2px;
        z-index: 11;
        
    }
    .header_nav-close-line {
        display: block;
        width: 10%;
        height: 2px;
        background-color:#fff;
        position: absolute;
        top: 6%;
        left: 55%;
    }
    .header_nav-close-line:first-child {
        -webkit-transform: translateY(-50%) rotate(45deg);
            -ms-transform: translateY(-50%) rotate(45deg);
                transform: translateY(-50%) rotate(45deg);
    }
    .header_nav-close-line:last-child {
        -webkit-transform: translateY(-50%) rotate(-45deg);
            -ms-transform: translateY(-50%) rotate(-45deg);
                transform: translateY(-50%) rotate(-45deg);
    }
    .intro{
        padding-top: 125px;
    }
    .intro_title{
        font-size: 32px;
        line-height: 48px;
    }
    .intro_subtitle {
        font-size: 14px;
    }
    .search-from_field {
        margin-right: 0;
        width: 100%;
        padding-bottom: 12px;
        margin-bottom: 10px;
    }
    .search-from_field::-webkit-input-placeholder {
        font-size: 16px;
    }
    .search-from_field::-moz-placeholder {
        font-size: 16px;
    }
    .search-from_field:-ms-input-placeholder {
        font-size: 16px;
    }
    .search-from_field::-ms-input-placeholder {
        font-size: 16px;
    }
    .search-from_field::placeholder {
        font-size: 16px;
    }
    .search-form_submit {
        width: 100%;
    }
    .benefits_title {
        margin-bottom: 30px;
    }
    .benefits_cards {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        padding: 20px 0 0 0;
    }
    .benefits_card-pic {
        margin-bottom: 20px;
    }
    .benefits_card-title {
        margin-bottom: 12px;
    }
    .benefits_card-desc {
        margin-bottom: 12px;
    }
    .tours_tour {
        -ms-grid-column-span: 2;
        grid-column: span 2;
        /* grid-template-columns: 1fr ; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .tours_tour_mob {
        /* grid-row-start: -1; */
        display: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .tour_thumb {
        width:  300px;
    }
    .top_card {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }
    .top_card-pic {
        padding: 0;
    }
    .top_card-thumb {
        width: 300px;
    }
    .top_card-stats {
        max-width: 300px;
    }
    .footer_logo {
        width: 100%;
        margin-bottom: 24px;
    } 
    .footer {
        padding: 50px 0 0 0;
    }
    .footer_nav {
        width: 100%;
    }
    .footer_menu {
        width: 50%;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 500px) {
    header_nav {
        padding: 75px 15px;
    }
}

    /* Media end*/ 